<!DOCTYPE html>
<html class="no-js">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="content">
      {{ content }}
    </div>
    {% include footer.html %}
    <!-- Google Consumer Surveys -->
    <script type="text/javascript">
(function() {
  var ARTICLE_URL = window.location.href;
  var CONTENT_ID = 'everything';
  document.write(
    '<scr'+'ipt '+
    'src="//survey.g.doubleclick.net/survey?site=_zjbvlhuzwt4ifthxcsmg54gq24'+
    '&amp;url='+encodeURIComponent(ARTICLE_URL)+
    (CONTENT_ID ? '&amp;cid='+encodeURIComponent(CONTENT_ID) : '')+
    '&amp;random='+(new Date).getTime()+
    '" type="text/javascript">'+'\x3C/scr'+'ipt>');
})();
</script>
<!-- End Google CS -->
<!-- Chartbeat -->
    <script type="text/javascript">
  var _sf_async_config = { uid: 45037, domain: 'geeky.io', useCanonical: true };
  (function() {
    function loadChartbeat() {
      window._sf_endpt = (new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
      document.body.appendChild(e);
    };
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
      loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
</script>
<!-- Open graph -->
{% capture header %}

{% if page.title %}
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ page.title }}" />
{% else %}
	<meta property="og:type" content="website" />
{% endif %}

{% include meta.html property="og:site_name" content=site.title %}
{% include meta.html property="og:image" content=page.thumbnail %}

{% capture page_url %}{{ page.url | replace:'/index.html','/' | append: site.url | append: site.baseurl }}{% endcapture %}
{% include meta.html property="og:url" content=page_url %}

{% capture page_date %}{{page.date | date_to_xmlschema}}{% endcapture %}
{% include meta.html property="article:published_time" content=page_date %}

{% if page.author.url %}
	<meta property="article:author" content="{{ page.author.url }}" />
	<link rel="author" href="{{ page.author.url }}" />
{% elsif site.owner_link %}
	<meta property="article:author" content="{{ site.owner_link }}" />
	<link rel="author" href="{{ site.owner_link }}" />
{% endif %}

{% endcapture %}{{ header | strip_newlines }}
<!-- Open graph -->
  </body>
</html>
